#myClockDisplay{
    background-color: black;
    color: aqua;
    font-size: 64px;
    /* flex: auto; */
    padding-left: 530px;
    
    margin-left: 34px;
    text-align: center;
    border-radius: 23px;
 
    /* width: 346px; */
    /* height: 183px; */
    /* padding-right: 45px; */
    /* color: brown; */
}
.box{
color: blue;
}
.but{
   height: 33px;
   width: 34px;
   margin-left: 34px;
}